<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">
        <activity android:name=".Activities.AddExpenses" />
        <activity android:name=".Activities.AddIncome" />
        <activity android:name=".Activities.Addactivity" />
        <activity android:name=".Activities.ExpenseFetchingActivity" />
        <activity android:name=".Activities.ExpensesDetailsActivity" />
        <activity android:name=".Activities.FetchingActivity"/>
        <activity android:name=".Activities.InExMainActivity"/>
        <activity android:name=".Activities.IncomeDetailsActivity" />
        <activity android:name=".Activities.IncomeFetchingActivity" />
        <activity android:name=".Activities.IncomeMainActivity" />
        <activity android:name=".Activities.InsertionActivity" />
        <activity android:name=".Activities.MainActivity" />
        <activity android:name=".Activities.PMainActivity"/>
        <activity android:name=".Activities.PersonDetails"/>
        <activity android:name=".Activities.PersonList" />
        <activity android:name=".Activities.Shoppingcart_home" />
        <activity android:name=".Activities.UpdateDialog" />
        <activity android:name=".Activities.itemview" />

        <activity
            android:name=".Activities.SplashScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
